# Pastas do Visual Studio e do build
.vs/
bin/
obj/
Debug/
Release/
ipch/
*.VC.db
*.VC.VC.opendb
*.VC.VC.db

# Configurações de usuário
*.user
*.suo
*.ncb
*.cache
*.pdb
*.opendb
*.pidb
*.ilk
*.log
*.tlog
*.lastbuildstate

# Arquivos de lock e pacotes
*.lock.json
*.nuget
.nuget/
packages/
project.lock.json
project.assets.json

# Arquivos de dependências geradas pelo Visual Studio
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Logs e outros arquivos temporários
*.log
*.tmp
*.cache
*.lck

# Arquivos do Windows Package (caso use MSIX)
*.msix
*.msixupload
*.appx
*.appxupload
*.appxbundle
*.appxbundleupload
*.pri

# Arquivos gerados para publicação
publish/
*.publish.xml
*.pubxml
*.pubxml.user

# Diretórios de Testes e Configurações de Teste
TestResults/
nunit-xml-output.xml

# Arquivos do Rider (caso esteja usando)
.idea/
*.sln.iml
