# Ignore Visual Studio for Mac
.vscode/

# Rider IDE
.idea/

# Build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
Thumbs.db
ehthumbs.db

# Files that shouldn't be pushed to the repository
*.log
*.bak
*.swp