@tailwind base;
@tailwind components;
@tailwind utilities;

/*source color for theme: #5EAEFF*/

:root {
  --background: #f8f9ff;
  --foreground: #191c20;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
}
